---
layout: page
title: Certifications
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}

    <table class="wsite-multicol-table">
	    <tbody class="wsite-multicol-tbody">
		    <tr class="wsite-multicol-tr">
			    <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
				    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
						    <a>
							    <img src="/assets/images/udacity_mlnd.png" alt="Picture" style="width:auto;max-width:100%" />
						    </a>
						    <div style="display:block;font-size:90%"></div>
					    </div></div>

					    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
							    <a>
								    <embed src="/asserts/pdfs/coursera_r_programming.pdf" type="application/pdf" />
							    </a>
							    <div style="display:block;font-size:90%"></div>
						    </div></div>
			    </td><td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
				    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
						    <a>
							    <img src="/uploads/5/8/5/4/58540971/3_3_orig.png" alt="Picture" style="width:auto;max-width:100%" />
						    </a>
						    <div style="display:block;font-size:90%"></div>
					    </div></div>

					    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
							    <a>
								    <img src="/uploads/5/8/5/4/58540971/4_orig.png" alt="Picture" style="width:auto;max-width:100%" />
							    </a>
							    <div style="display:block;font-size:90%"></div>
						    </div></div>
			    </td></tr>
	    </tbody>
    </table>
    </div></div></div>

    <div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
			    <table class="wsite-multicol-table">
				    <tbody class="wsite-multicol-tbody">
					    <tr class="wsite-multicol-tr">
						    <td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



							    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
									    <a>
										    <img src="/uploads/5/8/5/4/58540971/ml_orig.png" alt="Picture" style="width:auto;max-width:100%" />
									    </a>
									    <div style="display:block;font-size:90%"></div>
								    </div></div>



						    </td><td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



							    <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
									    <a>
										    <img src="/uploads/5/8/5/4/58540971/editor/5.png?1505301418" alt="Picture" style="width:442;max-width:100%" />
									    </a>
									    <div style="display:block;font-size:90%"></div>
								    </div></div>



						    </td></tr>
				    </tbody>
			    </table>
</section>
